---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Javascript Oyren">
  <div class="h-lvh lg:h-full flex flex-col items-center justify-center">
    <h1 class="text-3xl lg:text-5xl text-center">
      JavaScript müsahibə sualları və cavabları
    </h1>
    <p class="text-xl lg:text-2xl text-center">
      sadə dərslərlə öyrənin, yeni başlayanlardan tutmuş irəli səviyyələrə
      qədər. Kodlaşdırma bacarıqlarınızı inkişaf etdirin və növbəti iş
      müsahibənizə hazırlaşın!"
    </p>
  </div>
</Layout>
