---

---

<div class="p-4">
  <aside>
    <ul>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Closure</li>
      <li>Closure</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
      <li>Data Types - data Tipleri</li>
    </ul>
  </aside>
</div>
