---

---

<div class="lg:pl-10 lg:pr-10 flex items-center justify-center h-full">
  <div class="xl:w-[1000px] w-full"><slot /></div>
</div>

<style is:inline>
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 18px;
    padding: 10px;
    line-height: 1.8rem;
  }
  ul {
    list-style-type: disc;
    padding: 0px 0px 0px 40px;
  }
  pre {
    border: 5px solid #222223;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;

    code {
      font-size: inherit;
      padding: 0;
    }
  }

  code {
    background: #24292e;
    font-size: 15px;
    border-radius: 30px;
    padding: 5px 10px;
  }

  blockquote {
    margin: 10px;
    background: #222223;
    border-left: 5px solid #e6d00a;
  }
  table {
    width: 100%
    border-collapse: collapse;
  }

  th,
  td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  @media (max-width:600px) {
   h1{
    font-size: 30px;
   } 
   h3{
    font-size: 20px;
   }

   p{
    font-size: 15px;
    line-height: 1.6rem;
   }
   code{
    padding: 2px;
   }
   pre{
    font-size: 14px;
   }
  }
</style>
