---
const { content } = Astro.props;
---

<div class="pl-10 pr-10 flex items-center justify-center h-full">
  <div class="w-[1000px]">
    <h1 class="text-2xl">
      Bu blog, JavaScript proqramlaşdırma dilini öyrənmək istəyənlər üçün bir
      qaynaqdır. JavaScript, veb inkişafında müasir texnologiyaların təməlini
      təşkil edir. Dinamik və interaktiv veb saytlar yaratmaq üçün geniş
      imkanlar təqdim edir.
    </h1>
  </div>
</div>
