---

---

<footer class="footer footer-center text-base-content p-4">
  <aside>
    <p class="text-sm p-0">
      Bütün hüquqlar qorunur. © {new Date().getFullYear()} - JavaScript Öyrən
    </p>
    <p class="p-0 text-base">Made with ❤️</p>
  </aside>
</footer>
