---

---

<footer class="footer footer-center text-base-content p-4">
  <aside>
    <p class="text-white">
      Bütün hüquqlar qorunur. © {new Date().getFullYear()} - JavaScript Öyrən
    </p>
  </aside>
</footer>
