---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Content from "../components/Content.astro";
import Aside from "../components/Aside.astro";

const allPosts = await Astro.glob("../pages/blog/*.md");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="JavaScript müsahibə suallarını və cavablarını sadə dərslərlə öyrənin, yeni başlayanlardan tutmuş irəli səviyyələrə qədər. Kodlaşdırma bacarıqlarınızı inkişaf etdirin və növbəti iş müsahibənizə hazırlaşın!"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>JAVASCRIPT🎃</title>
  </head>
  <body>
    <div>
      <div class="sticky z-20 top-0 bg-[#222223]">
        <Navbar />
        <div class="divider h-1 divider-neutral m-0 p-0 bg-[#222223]"></div>
      </div>
      <main class="flex flex-col lg:flex-row">
        <div
          class="bg-[#222223] lg:block hidden basis-1/5 text-white sticky top-20 pb-10 h-lvh overflow-y-auto"
        >
          <Aside posts={allPosts} />
        </div>
        <div
          class="divider w-1 divider-neutral divider-horizontal m-0 p-0 bg-[#222223]"
        >
        </div>
        <div class="basis-4/5 bg-[#1A1A1B] pt-4 pb-10 text-white">
          <Content>
            <slot />
          </Content>
        </div>
      </main>

      <div class="divider h-1 divider-neutral m-0 p-0 bg-[#222223]"></div>
      <div class="bg-[#222223] p-2"><Footer /></div>
    </div>
  </body>
</html>
